<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3727eb97-6725-4f16-98b2-d603155e0f21/resourceGroups/citme-dev/providers/Microsoft.Web/sites/Separate-Api</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://separate-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>separate-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Separate-Api</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Separate-Api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>