
Separate/Properties/PublishProfiles/*
Separate/separate.db
Separate/separate.db-wal
Separate.Data/bin/*
Separate.Data/obj/*
Separate.Models/bin/*
Separate.Models/obj/*
Separate.Services/bin/*
Separate.Services/obj/*

.vs/Separate/xs/*
.vs/Separate/DesignTimeBuild/.dtbcache
.vs/Separate/v16/.suo
.vs/Separate/v16/Server/sqlite3/storage.ide
.vs/Separate/v16/Server/sqlite3/storage.ide-shm
.vs/Separate/v16/Server/sqlite3/storage.ide-wal